/* Portlet */
.portlet {
    background: #f5f5f5;
    padding: 20px;
}

.portlet.portlet-gray {
    background: #f7f7f7;
}

.portlet.portlet-bordered {
    border: 1px solid #eee;
}

/* Portlet Title */
.portlet-title {
    padding: 0;
    min-height: 40px;
    border-bottom: 1px solid #eee;
    margin-bottom: 18px;
}

.caption {
    float: left;
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
}

.caption.caption-green .caption-subject,
.caption.caption-green i {
    color: #4db3a2;
    font-weight: 200;
}

.caption.caption-red .caption-subject,
.caption.caption-red i {
    color: #e26a6a;
    font-weight: 200;
}

.caption.caption-purple .caption-subject,
.caption.caption-purple i {
    color: #8775a7;
    font-weight: 400;
}

.caption i {
    color: #777;
    font-size: 15px;
    font-weight: 300;
    margin-top: 3px;
}

.caption-subject {
    color: #666;
    font-size: 16px;
    font-weight: 600;
}

.caption-helper {
    padding: 0;
    margin: 0;
    line-height: 13px;
    color: #9eacb4;
    font-size: 13px;
    font-weight: 400;
}